/* 
Project Name: FEWD Final Project: Baby Sign Language;
Author: Sofia Gutierrez
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     font-family: "Open Sans", sans-serif;
     font-size: 20px;
     padding: 20px;
}

h1 {
     font-family: "Montserrat", sans-serif;
     padding: .25em;
}

h2 {
     font-family: "Montserrat", sans-serif;
     font-size: 36px;
     text-align: center;
     padding: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 1.25em;
  }
}



a {
     text-decoration: none;
}


figcaption {
    font-family: "Open Sans", sans-serif;
    font-size: .50em;
    float: right;
    clear: both;
    padding: 0em 3.0em .5em 1.5em;
}


img {
    border: 1px solid #D3D3D3;
}

p {
     text-align: left;
     float: left;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: .85em;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  p {
    font-size: 1.25em;
  }
}


#buttons-wrapper {
     margin: 0 auto;
     width: 100%;
     text-align: center;
     display: block;
     margin-top: 20px;
}

.btn{
     color: #3B9BCD;
     background-color: white;
     border: solid #3B9BCD 1px;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: .75em;
     font-weight: normal;
     line-height: 1.5;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     border-radius: 4px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
}



/******************************************
/* LAYOUT                   
/*******************************************/

.innerWrapper {
     width: 100%;
     height: 100%;
     display: block;
     text-align: center;
     margin: 0;
     padding: 15px;
     overflow: hidden;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .innerWrapper {
    float: left;
  }
}


.innerWrapperForm {
     width: 100%;
     height: 100%;
     display: block;
     text-align: left;
     padding: 5px 50px 50px 50px; 
}

img {
    top: 0;
    left: 0;
    float: left;
}

.modalContent img {
    border: none;
    width: 100%;
    padding: .5em 1.5em .5em 1.5em;
}

.box{
     height:100%;
     width: 25%;
     float: left;
     position: relative;
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .box {
    width: 33.333%;
    margin: 0;
    top: auto;
  }
}

@media only screen and (min-width: 450px) and (max-width: 699px) {
  .box {
    width: 50%;
    margin: 0;
    top: auto;
  }
}

/* Mobile */
@media only screen and (max-width: 449px) {
  .box {
    width: 100%;
    margin: 0;
    top: auto;
  }
}

.circle {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     font-size: 20px;
     color: #ffffff;
     font-family: "Open Sans", sans-serif;
     background-color: black;
     padding-top: 35px;
     text-align: center;
     margin: 0;
     position: absolute;
     z-index: 1;
     top: 50%;
     left:50%;
     /*margin-top: -50px;
     margin-left: -50px;*/
     transform: translate(-50%,-50%);
     cursor: pointer;

}

.circle:hover {
    color: #FFFF4D;
}
div div a:link, div div a:visited {
     color: white;
}

div div a:hover {
     color: yellow;
}



.col1, .col2 {
     float:left;
     width: 50%;
     padding: 15px 20px 20px 20px;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .col1, .col2 {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
   .col1, .col2 {
    width: 100%;
  }
}

/* Column in modal */
.col {
    width: 50%;
    float: left;
}





/*General Modal Styling*/
.modal {
     position: fixed;
     top: 50%;
     left: 50%;
     width: 0;
     height: 0;
     z-index: 200;
     overflow: auto;
     background: #9bdeef;
}

/*Modal Content*/
.modalContent {
     color: #fff;
     position: relative;
     border-radius: 3px;
     margin: 0 auto;
     overflow: auto;
     /*visibility: hidden;*/
     opacity: 0;
}

.modalContent h3 {
     margin: 0;
     padding: .5em 1.5em .5em 1.5em;
     text-align: left;
     font-size: 2.4em;
     opacity: 0.8;
     background: rgba(0,0,0,0.1);
     border-radius: 3px 3px 0 0;
}

.modalContent div {
     padding: .5em 1.5em .5em 1.5em;
     margin: 0;
     font-size: 1.10em;
     overflow: auto;
}

.modalContent div p {
     margin: 0;
     padding: .5em 0 .5em 0;
}

.modalClose {
     display: block;
     margin: .75em 1.75em .5em 1.5em;
     background-color: white;
     border: solid #3B9BCD 1px;
     border-radius: 5px;
     color: #3B9BCD;
     font-size: .75em;
     width: 10%;
     height: 30px;
     float: right;
     clear: both;
 }

.modalShow {
     /*visibility: visible;*/
}


.modalShow ~ .modalOverlay {
     opacity: 1;
     visibility: visible;
}


/*.word {
     display: block;
     text-align: center;
     border: 1px solid black;
     background-color: #f3f3f3;
     width: 100%;
     padding: 5px 5px 15px 0px;
     float: right;
}*/

section {
     display: block;
     border: 1px solid #4A4A4A;
     overflow: auto;
     margin: 40px;
     clear: both;
}

/* Mobile */
@media only screen and (max-width: 449px) {
  section {
    display: none;
  }
}



/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
input[type=submit] {
     background-color: white;
     border: solid #3B9BCD 1px;
     border-radius: 5px;
     color: #3B9BCD;
     font-size: 0.5em;
     float: right;
     width: 20%;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
   {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
   input[type=submit] {
    width: 30%;
    }
}


form {
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     box-sizing: border-box;
     border-radius: 5px;
     box-shadow: none;
     overflow: hidden;
     clear:both;
} 


input {
     outline: none;
     display: block;
     width: 100%;
     border: 1px solid #d9d9d9;
     padding: 15px 20px;
     margin: 0 0 20px;
     font-size: 14px;
     box-sizing: border-box;
}

input[type=text]:focus {
     border: 1px solid #33b5e5;
     color: #333333;
}

textarea:focus {
     border: 1px solid #33b5e5;
     color: #333333;
}

#intro {
     width: 50%;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #intro {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  #intro {
    width: 100%;
  }
}


select {
     width: 50%;
     border: 1px solid #d9d9d9;
     padding: 40px 20px;
     margin: 8px 0;
     display: inline-block;
     box-sizing: border-box;
     box-shadow: none;
     font-family: "Open Sans", sans-serif;
     font-size: 14px;
}

textarea {
     outline: none;
     display: block;
     width: 100%;
     height: 150px;
     padding: 15px 20px;
     border: 1px solid #d9d9d9;
     border-radius: 2px;
     float: right;
     margin: 0 0 20px;
     font-size: 14px;
     box-sizing: border-box;
     resize: none;
}

/******************************************
/* Individual Words                 
/*******************************************/

#please {
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

#food {
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}


#milk {
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

#bath {
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

#water {
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}